{% extends "layout.html" %}
{% set active = "Console" %}
{% block content %}
<div id="console">
    <div id="console_output">
    </div>
    <form id="send_form" method="post">
    </form>
    <div id="console_input">
        <label id="prefix" for="console_input_text" style="padding: 5px;">{{prefix}}</label>
        <input type="text" id="console_input_text" value="">
    </div>
</div>
<script type="text/javascript">
    var prefix = document.getElementById("prefix");
    var input = document.getElementById("console_input_text");
    var console_ = document.getElementById("console_output");
    var data = document.getElementById("value");
    var form = document.getElementById("send_form");
    let source = new EventSource("{{url_for('console_listen')}}");

    input.addEventListener("keyup", function(event) {
        if (event.keyCode === 13) {
            event.preventDefault();

            const hiddenField = document.createElement('input');
            hiddenField.type = 'hidden';
            hiddenField.name = 'input';
            hiddenField.id = 'temp_element'
            hiddenField.value = input.value;
            form.appendChild(hiddenField);
            form.submit();
            input.value = "";
            form.removeChild(document.getElementById("temp_element"));
        }
    });

    function removeChildren(parent){
        while(parent.firstChild){
            parent.removeChild(parent.firstChild);
        }
    }

    function addLine(line, newLine){
        if( Math.abs(console_.scrollTop - (console_.scrollHeight - console_.offsetHeight)) < 5){
            var x = true;
        }else{
            var x = false;
        }
        if(console_.childElementCount == 0 || console_.lastChild.classList.contains("newLine")){
            var node = document.createElement("p");
            if(newLine){
                node.classList.add("newLine");
            }
            var textnode = document.createTextNode(line);
            node.appendChild(textnode);
            console_.appendChild(node);
        }else{
            var oldText = console_.lastChild.textContent;
            console_.lastChild.textContent = oldText + line;
            if(newLine){
                console_.lastChild.classList.add("newLine");
            }
        }
        if(x){
            console_.scrollTop = console.scrollHeight;
        }
    }

    source.addEventListener('control', event => {
        data = JSON.parse(event.data);
        if(data["type"]=="text"){
            lines = data["text"].split("\n")
            for(let i = 0; i < lines.length; i++) {
                if(i==lines.length-1){
                    addLine(lines[i], data["newline"]);
                }else{
                    addLine(lines[i], true);
                }
            }
        }else if(data["type"] == "clear_console"){
            removeChildren(console_);
        }else if(data["type"] == "update_prefix"){
            prefix.textContent = data["text"]
        }
    });


</script>

{% endblock %}