<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
    <script src="https://kit.fontawesome.com/3e486b8572.js" crossorigin="anonymous"></script>
    <title>Server Server {{active}}</title>
    {% endblock %}
</head>
<body>
    <div class="topnav">
        {% include "header.html" ignore missing %}
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <div class="footer">
        {% block footer %}
        {% endblock %}
    </div>
</body>
</html>
